---
layout: gallery_page_layout
---
<style TYPE="text/css">
.gallery-image-wrapper {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1em;
}
.gallery-image {
  margin: auto;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
  max-width: 100%;
  border: 3px solid #3e2b14;
  padding: 0px;
  box-shadow: 4px 4px 5px #aaa;
}
</style>
{% include gallery_nav.html %}
<br>
<hr />
<br>
{% for image in page.images %}
    <div class="gallery-image-wrapper">
        <a name="{{ image }}"></a>
        <a href="{{ image }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
            <img class="gallery-image" src="thumbs/{{ image }}" />
        </a>
    </div>
{% endfor %}
