<hr class="stripe">

<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Call for an appointment</li>
          <li><a class="highlight" href="tel:{{ site.tel }}">{{ site.tel }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
      
      <div class="footer-col footer-col-3">
        <p>{{ site.copyright }}</p>

      <div id="yelp-biz-badge-plain-xKXa_M5Tol-7K5cMff9L7A">
        <a href="http://yelp.com/biz/bmcc-hand-painted-pinstriping-northbrook?utm_medium=badge_button&amp;utm_source=biz_review_badge" target="_blank">Check out BMCC Hand Painted Pinstriping on Yelp
        </a>
      </div>
          <script>(function(d, t) {var g = d.createElement(t);var s = d.getElementsByTagName(t)[0];g.id = "yelp-biz-badge-script-plain-xKXa_M5Tol-7K5cMff9L7A";g.src = "//yelp.com/biz_badge_js/en_US/plain/xKXa_M5Tol-7K5cMff9L7A.js";s.parentNode.insertBefore(g, s);}(document, 'script'));</script>
      </div>

    </div>

  </div>

  <script src="/js/siteNav.js"></script>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
      _uacct = "UA-2854911-1";
      urchinTracker();
  </script>
</footer>
