<div class="gallery-nav-wrapper">
<img class="gallery-nav-left" src="/images/nav/gal_nav_left.gif">
<nav class = "gallery-nav">
  <a class="gallery-link" href="/gallery/commercial">Commercial</a>
  <a class="gallery-link" href="/gallery/customs">Custom</a>
  <a class="gallery-link" href="/gallery/gold_leaf">Gold Leaf</a>
  <a class="gallery-link" href="/gallery/motorcycles">Motorcycles</a>
  <a class="gallery-link" href="/gallery/signs">Signs</a>
  <a class="gallery-link" href="/gallery/stripes">Stripes</a>
  <a class="gallery-link" href="/gallery/vintage">Vintage</a>
</nav>
<img class="gallery-nav-right" src="/images/nav/gal_nav_right.gif">
</div>
