<div class="gallery-nav-wrapper">
<img class="gallery-nav-left" src="/images/nav/gal_nav_left.gif">
<nav class = "gallery-nav">


{% if page.url contains 'Stripes' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Stripes">Stripes</a>
{% else %}
  <a class="gallery-link" href="/gallery/Stripes">Stripes</a>
{% endif %}

{% if page.url contains 'Motorcycles' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Motorcycles">Motorcycles</a>
{% else %}
  <a class="gallery-link" href="/gallery/Motorcycles">Motorcycles</a>
{% endif %}

{% if page.url contains 'Murals' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Murals">Murals</a>
{% else %}
  <a class="gallery-link" href="/gallery/Murals">Murals</a>
{% endif %}

{% if page.url contains 'Boats' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Boats">Boats</a>
{% else %}
  <a class="gallery-link" href="/gallery/Boats">Boats</a>
{% endif %}

{% if page.url contains 'Windows' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Windows">Windows</a>
{% else %}
  <a class="gallery-link" href="/gallery/Windows">Windows</a>
{% endif %}

{% if page.url contains 'Customs' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Customs">Custom</a>
{% else %}
  <a class="gallery-link" href="/gallery/Customs">Custom</a>
{% endif %}

{% if page.url contains 'Signs' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Signs">Signs</a>
{% else %}
  <a class="gallery-link" href="/gallery/Signs">Signs</a>
{% endif %}

{% if page.url contains 'Vintage' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Vintage">Vintage</a>
{% else %}
  <a class="gallery-link" href="/gallery/vintage">Vintage</a>
{% endif %}

{% if page.url contains 'Commercial' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Commercial">Commercial</a>
{% else %}
  <a class="gallery-link" href="/gallery/Commercial">Commercial</a>
{% endif %}

{% if page.url contains 'Guilding' %}
  <a class="gallery-link active-gallery-link" href="/gallery/Guilding">Guilding</a>
{% else %}
  <a class="gallery-link" href="/gallery/Guilding">Guilding</a>
{% endif %}

</nav>
<img class="gallery-nav-right" src="/images/nav/gal_nav_right.gif">
</div>
