/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 50px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.header-col {
    float: left;
    text-align: center;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    min-width: 279px;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.header-col-side {
    line-height: .7;
    margin-top:50px;
    vertical-align: middle;
    float: left;
    text-align: center;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));   
}

/*******************
 *   GALLERY 
 ******************/
.gallery-wrapper {
  display: inline-block;
  margin: 2em;
}

.gallery-best-image{
  max-height: 20em;
  max-width: 20em;
  border: 5px solid #3e2b14;
  padding: 2px;
  box-shadow: 8px 8px 10px #aaa;
}

.gallery-image-wrapper {
  display: inline-block;
  margin: 1em;
}
.gallery-image {
  margin: auto;
  top: 0px;
  bottom: 0px;
  max-height: 300px;
  max-width: 300px;
  border: 3px solid #3e2b14;
  padding: 0px;
  box-shadow: 4px 4px 5px #aaa;
}


@include media-query($header-min) {
    .header-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .header-col-side {
        display:none;
    }
}

#site-nav-main {
    z-index: 9999999;
    @media (min-width:$on-palm) {
        background-image: url('/images/nav/bg.gif');
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    display: inline-block;
    margin:auto;
    line-height: 50px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $link-color;
        line-height: $base-line-height;
        font-size: 19px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
        @include media-query($on-palm) {
            color: $text-color;
        }
    }

    .active {
        color: $grey-color-light;
        text-decoration: underline;
    }



    @include media-query($on-palm) {
        background-color: $background-color;
        position: absolute;
        right: $spacing-unit / 2;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
    }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
.gallery-nav-wrapper {
    display: flex;
    text-align: center;
    margin-bottom: 1em;
}

.gallery-nav {
    background-image: url('/images/nav/gal_nav_fill.gif');
    background-repeat: repeat-x;
    line-height: 59px;
    width:100%;
}

.gallery-nav-right {
    float: left;
}

.gallery-nav-left{
    float:left;
}

.gallery-link { 
    margin-right:1em;
    margin-left:1em;
    font-size: 17px;
}

@include media-query($gallery-nav-small) {
   .gallery-nav-wrapper {
   } 
   .gallery-nav-left, .gallery-nav-right {
    display: none;
   }
   .gallery-nav {
    background-image: none;
   }
   .gallery-link {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;

        border: 5px solid #4C617E;
        padding:.5em;
        background-color:#C0CBD9;
    }
}

a.gallery-link {
    color: $grey-color-dark;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


.main-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.main-col-1 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

.main-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    max-width: 400px;
}

@include media-query($on-palm) {
    .main-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}





/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.gallery-sidebar {
    text-align:center
}

.gallery-sidebar-image-text {
    display:none;
}

.gallery-sidebar-image-text :hover {
    // don't know what to do here...
}

.gallery-sidebar-wrapper {
    text-align: center;
    display: inline-block;
    margin: 1em;
}

.gallery-sidebar-image {
    max-height: 7em;
    max-width: 7em;
    border: 3px solid #3e2b14;
    padding: 1px;
    box-shadow: 8px 8px 10px #aaa;
          -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.gallery-sidebar-image:hover {
    // Don't know what to do here...
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: left;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
